body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#movieTable {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#movieTable td, #movieTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#movieTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #007bff;
  color: white;
}

#movieTable tr:nth-child(even){background-color: #f2f2f2;}

#movieTable tr:hover {background-color: #ddd;}

.searchButton {
  border: 1px solid #ddd;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}



